<section class="banner-wrapper">
    <section class="container">
        <section class="row">
            <section class="col-md-5 py-5">
                <button type="button" class="btn btn-primary my-4">
                    <img src="assets/images/btn-image.png" alt="button image">
                    WORLD OF WEB
                </button>
                <h1>The ultimate testing platform revolves around the web testing cycle</h1>
                <h2>
                    Our proprietary software combined with our world-class tools and strategy you need to build,
                    run, and analyze your own tests for success.
                </h2>
                <ul>
                    <li>
                        <a href="#">Web Testing</a>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="#">Web Performance</a>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </li>
                    <li>
                        <a href="#">Browser Farm</a>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </li>
                </ul>
                <button type="button" class="btn btn-secondary my-5">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Schedule Demo
                </button>
            </section>
            <section class="col-md-7">
                <img src="assets/images/banner.png" class="w-100" alt="System Banner">
            </section>
        </section>
    </section>
</section>
<!-- slope starts -->
<section class="slope-wrapper d-none d-lg-block">
    <section class="slope"></section>
    <img src="assets/images/bottom.png" class="bottom-img">
    <img src="assets/images/top.png" class="top-img">
</section>
<!-- slope ends -->
<!-- body card starts -->
<section class="container">
    <section class="row">
        <!-- card starts -->
        <section class="card m-auto my-5">
            <section class="card-body d-grid d-lg-flex">
                <section class="">
                    <h5 class="card-title">
                        Ready to get started? Get in touch or create an account.
                    </h5>
                    <p class="card-text">
                        To access a complete platform contact us to design a package specifically for your business.
                    </p>
                </section>
                <a href="#" class="btn btn-secondary">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    Schedule Demo
                </a>
            </section>
        </section>
        <!-- card ends -->
    </section>
</section>
<!-- body card ends -->